.landing {
  height: 100vh;
  background: linear-gradient(to right, #c5eaf0, #a3d1d1 50%);
}

.wrapper {
  padding: 3rem 3rem 0;
  height: 100%;
}

.landing-container {
  background: linear-gradient(to right, #edfcff 50%, #a2dfd8 40%, #a2dfd8 100%);
  width: 100%;
  height: 100%;
}
.home-left {
  padding: 6rem 0 0 8rem;
}
.landing-right {
  background-image: url(../../../assets/groups.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.home-title {
  font-weight: bolder;
  text-shadow: 0 0 45px #00ffccc4;
  font-size: 3rem;
}
.home-para {
  font-weight: bolder;
  color: rgb(139, 139, 139);
  padding: 1rem 0 0;
}

.home-btn {
  background-color: #1a2036;
  box-shadow: 6px 6px 24px #0202029f;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 9px 18px;
  color: #fff;
  border: 2px solid transparent;
}

.home-btn::before {
  animation: ring 1.5s infinite;
  content: "";
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.home-btn:hover,
.home-btn:focus {
  color: #313133;
  background-color: transparent;
  border: 2px solid #1a2036;
  border-left: none;
  border-right: none;
  font-weight: bolder;
  transform: translateY(-6px);
  border-radius: 0;
}

.home-btn:hover::before,
.home-btn:focus::before {
  animation: none;
}

.home-btn:hover::after,
.home-btn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    opacity: 1;
  }
  100% {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    opacity: 0;
  }
}

