<section class="landing">
  <div class="wrapper">
    <div class="container-fluid landing-container">
      <div class="p-3">
        <app-navbar></app-navbar>
      </div>
      <div class="row h-75">
        <div class="col-lg-6 home-left">
          <h2 class="color-primary home-title">
            The Most<br />
            Famous <span class="name">Wakanda</span><br />Community
          </h2>
          <p class="home-para">
            Wakanda is all ears. Share your most crazy, <br />
            innovative ideas and bring them life.
          </p>
          <a routerLink="auth/" class="btn home-btn mt-2">Join Wakanda</a>
          <blockquote class="blockquote mt-3">
            <p class="mb-0">
              <small
                ><i class="fa fa-quote-left" aria-hidden="true"></i> It is
                important to nurture any new ideas and initiatives which can
                make a difference for Africa.<i
                  class="fa fa-quote-right pl-1"
                  aria-hidden="true"
                ></i>
              </small>
            </p>
            <footer class="blockquote-footer">
              Wangari Maathai <cite title="Source Title"> - Brainy Quotes</cite>
            </footer>
          </blockquote>
        </div>
        <div class="col-lg-6 landing-right"></div>
      </div>
    </div>
  </div>
</section>
