<form
  *ngIf="profile"
  #profileForm="ngForm"
  (ngSubmit)="updateProfile(profileForm)"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="profileImage">
      <input
        #profileImage="ngModel"
        [(ngModel)]="image$"
        type="file"
        name="image"
        id="profileImage"
        (change)="uploadFile($event)"
        class="img-input"
      />
      <img src="{{ profile.image }}" alt="Profile Image" class="profile-img" />
      <span class="ml-2 custom-color">Select Image</span>
    </label>
  </div>
  <div class="form-group">
    <input
      #firstName="ngModel"
      [(ngModel)]="profile.user.first_name"
      type="text"
      name="firstName"
      class="comment-input profile-input"
      placeholder="First Name"
    />
  </div>
  <div class="form-group">
    <input
      #lastName="ngModel"
      type="text"
      name="lastName"
      class="comment-input profile-input"
      placeholder="Last Name"
      [(ngModel)]="profile.user.last_name"
    />
  </div>
  <div class="form-group">
    <input
      [(ngModel)]="profile.user.username"
      type="text"
      name="username"
      class="comment-input text-dark profile-input"
      placeholder="Username"
      disabled
    />
  </div>
  <div class="form-group">
    <input
      #email="ngModel"
      [(ngModel)]="profile.user.email"
      type="text"
      name="email"
      class="comment-input profile-input"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <textarea
      #bio="ngModel"
      [(ngModel)]="profile.bio"
      name="bio"
      placeholder="About "
      class="comment-input profile-input"
      >{{ profile.bio }}</textarea
    >
  </div>
  <button class="home-btn post-btn py-2" type="submit">Update Profile</button>
</form>
